body{
  background-image: url("/img/mainimage.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
h1 {
 font-size: 120px;
 letter-spacing: 8px;
 margin-top: 5%;
 margin-bottom: 5%;
 text-align: center;
 width: 100%;
 color: black;
}
h2
{
  font-size: 50px;
  color: black;
}
.btn {
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  -webkit-box-shadow: 7px 7px 8px #666666;
  -moz-box-shadow: 7px 7px 8px #666666;
  box-shadow: 7px 7px 8px #666666;
  font-family: Arial;
  color: white;
  font-size: 20px;
  background: black;
  padding: 30px 30px 30px 30px;
  text-decoration: none;
  margin-left: 400px;
  margin-bottom: 10px;
}
a
{
	font-size: 20px;
}
well
{
	width: 70px;
	float: left;
}
input
{
	font-size: 15px;
	width: 500px;
}
label
{
	margin-left:5px;
	font-size: 15px;
}