@{
  Layout = "_Layout";
}
<div clss="row">
<div class="col-md-4">
<button class="btn btn-default"><a href="/stylists">View Our Stylists</button>

<button class="btn btn-default"><a href="/clients">View Our Clients</button>
</div>
</div>